 .axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 #container{
 	position: relative;
 	text-align: center;
 }

 #GDP{
 	position: relative;
 	text-align: center;

 }

 #Fertility{
 	position: relative;
 	text-align: center;
 }